<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
         <title>Automated Timetable Software</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="static/Images/favicon.ico">
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css"/>
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
        <script src="static/bootstrap/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


    </head>
    <body style="padding-top: 50px;">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="autotimetable.html">Automatic Timetable</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=" "><span class="glyphicon glyphicon-home"></span> Home</a></li>


                    </ul>
                </div>
            </div>
        </div>
        <div id="content">

            <div id = "banner_image">
                <div class="container">
                    <center>
                        <div id="banner_content">
                            <h1>Automatic Time-table Generator</h1>
                            <p>Get your timetable at your hand. </p>
                            <br/>
                            <a  href="/login" class="btn btn-danger btn-lg active">Login</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>



        <footer>
            <div class="container">
                <center>
                    <p>Copyright &copy; Automatic Timetable. All Rights Reserved  </p>
                </center>
            </div>
        </footer>
    </body>
</html>
